app
asgiref
blinker
certifi
cffi
charset-normalizer
click
colorama
coreapi
coreschema
cryptography
defusedxml
distlib
dj-database-url
dj-rest-auth
Django
django-allauth
django-jazzmin
django-rest-auth
django-rest-swagger
djangorestframework
djangorestframework-simplejwt
drf-yasg
Faker
filelock
Flask
gunicorn
idna
inflection
itsdangerous
itypes
Jinja2
MarkupSafe
mysqlclient
oauthlib
openapi-codec
packaging
pillow
platformdirs
psycopg
psycopg2
psycopg2-binary
pycparser
PyJWT
python-dateutil
python-dotenv
python3-openid
pytz
PyYAML
requests
requests-oauthlib
setuptools
simplejson
six
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
virtualenv
Werkzeug
whitenoise
